<main>
  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Current Temperatures</h2>
        <p>{{ currentDate| date:"MMM dd, yyyy 'at' hh:mm a" }}</p>
      </div>
    </header>
    <p>New York: {{ currentTemperaturs.newYork | number : '1.1-2' | temperature  }}</p>
    <p>Berlin: {{ currentTemperaturs.berlin | temperature    }}</p>
    <p>Paris: {{ currentTemperaturs.paris |  temperature  }}</p>
    <p>Chicago: {{ currentTemperaturs.chicago |  temperature  }}</p>
    <p>Chicago: {{ currentTemperaturs.chicago |  temperature    }}</p>
  </article>

  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Historic Temperatures</h2>
        <p>Berlin</p>
      </div>
    </header>
    <ul>
      @for (temperature of historicTemperatures | sort:"asc"; track $index) {
      <li (click)="onReset($index)">{{ temperature | temperature:'cel':'cel'}}</li>
      }
    </ul>
  </article>
</main>
